<h2><%= @wheely.title %></h2>
<h3><%= @wheely.price%> €/jr </h3>

<%= simple_form_for(@wheely) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">

    <%= f.association :category, include_blank: false %>
    <%= f.input :address %>
    <%= f.input :description %>
    <%= f.input :price %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
