<h1>All our Wheelies</h1>

 <div class="container">
  <div class="row">
    <% @wheelies.each do |wheely| %>
      <div class="col-xs-12 col-sm-4 col-md-3">
        <div class="wheely_card">
          <div class="wheely_card_body" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= wheely.photo %>);">
            <span class="price"><%= wheely.price %>€ / jour</span>
          </div>
          <div class="wheely_card_footer">
            <div class="wheely_card_title"><%= wheely.title %></div>
            <img src="https://www.w3schools.com/w3images/avatar2.png" alt="" class="wheely_card_avatar">
          </div>
        </div>

      </div>
    <% end%>
  </div>
</div>

<%= link_to "add a new wheely",  new_wheely_path %>


<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
></div>
