<h1>All our Wheelies</h1>

<div class="container">
  <div class="row">
    <% @wheelies.each do |wheely| %>
      <div class="col-xs-12 col-sm-4 col-md-3">
        <%= link_to(wheely_path(wheely), class: "card") do %>
          <h2> <%= wheely.title %></h2>
          <p> <%= wheely.description %></p>
          <p> <%= wheely.price %> <i class="fas fa-euro-sign"></i></p>
          <%= cl_image_tag wheely.photo, height: 300, width: 400, crop: :fill %>
        <% end %>
      </div>
    <% end%>
  </div>
</div>

<%= link_to "add a new wheely",  new_wheely_path %>
