
<div style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1453169753818-2feab4b4246d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4e6a8d1ca1a7de2290aceb0e458ce435&auto=format&fit=crop&w=967&q=80');">

</div>


<%= cl_image_tag @wheely.photo, height: 300, width: 400, crop: :fill %>

<h3><%= @wheely.category.name %></h3>
<h1> <%= @wheely.title %></h1>

<p> <%= @wheely.description %></p>
<p> <%= @wheely.price %> <i class="fas fa-euro-sign"></i></p>

<% if policy(@wheely).update? %>
  <%= link_to 'Edit', edit_wheely_path(@wheely) %> <br>
<% end %>
<% if policy(@wheely).destroy? %>
  <%= link_to "Delete", wheely_path(@wheely),
      method: :delete,
      data: { confirm: "Are you sure?" } %> <br>
<% end %>

<%= link_to 'Back to Wheelies', wheelies_path %>
